<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{% if lightbox %}
  <link rel="stylesheet" href="/css/glightbox.min.css"/>
  <script type="module">
    import "/js/glightbox.min.js";
    const lightbox = GLightbox(
      {selector: ".glightbox",{% if lightboxDesc %}descPosition : "{{ lightboxDesc }}",{% endif %}moreLength: 0, slideEffect: "none"}
    );
  </script>
{% endif %}
<style>
  body {
    background-color: black;
    color-scheme: dark;
  }
</style>
<script>{% include '../scripts/theme-picker.js' %}</script>
<noscript>
  <style>
    #theme-picker {
      display: none;
    }
  </style>
</noscript>