<ul>
  <li class="navbar--subheading">
    pages
  </li>
  <li>🎑<a href="/">home</a>
  </li>
  <li>📔<a href="/posts/">blog</a>
  </li>
  <li>🌠<a href="/interests/">interests</a>
  </li>
  <li>🎨<a href="/art/">art</a>
  </li>
  <li>🔗<a href="/links/">links</a>
  </li>
  <li>🦄<a href="/about/">about</a>
  </li>
  {% if not theme %}
    <li class="navbar--subheading" style="margin-top: 1em">
      theme
    </li>
    <li class="theme-container">{% include '../partials/theme.njk' %}</li>
  {% endif %}
</ul>