<ul class="change-list" role="list">
  {%- for change in changelist | reverse %}
    <li class="change-item">
      <div class="change-item__title">{{ change.data.title }}</div>
      <div class="change-item__date">
        {%- if change.data.draft %}
          <span>DRAFT</span>
        {%- else %}
          <span>{{ change.page.date | readableDate }}</span>
        {%- endif %}
      </div>
      <div class="change-item__content">{{ change.content | safe }}</div>
    </li>
  {%- endfor %}
</ul>
