<script
  data-goatcounter="https://ixions-realm.goatcounter.com/count"
  async
  src="//gc.zgo.at/count.js"
></script>
<noscript>
  {%- if not redirect -%}
    <img src="https://ixions-realm.goatcounter.com/count?p={{ page.url }}" />
  {%- endif %}
</noscript>
