<label for="theme-picker" class="navbar--theme-label">theme</label>
<select name="theme" id="theme-picker" class="theme-picker">
  <option value="default" selected="selected">🎮 genesis</option>
  <option value="halloween">🎃 halloween</option>
</select>
