<div class="theme-picker">
  <label for="theme-select" class="theme-picker__label">theme</label>
  <select name="theme" id="theme-select" class="theme-picker__select">
    <option value="default" selected="selected">🎮 genesis</option>
    <option value="halloween">🎃 halloween</option>
  </select>
</div>
