<div class="background">
  <div class="background__overlay"></div>
  <div class="background__frame">
    <div class="background__frame-tl"></div>
    <div class="background__frame-tr"></div>
  </div>
</div>
