<p>
  <a href="/contact/">contact</a>
  |
  <a href="/credits/">credits</a>
  |
  <a href="/changelog/">changelog</a>
  | {% link metadata.github %}github{% endlink %} |
  {% link metadata.neocities %}neocities{% endlink %}
</p>
<p>{{ metadata.copyright }}</p>
