<footer class="footer">
  <p>
    <a href="/about/">about</a>
    | {% link metadata.neocities %}neocities{% endlink %} |
    {% link metadata.github %}github{% endlink %} |
    <a href="/changelog/">changelog</a>
    |
    <a href="/feeds/" class="a--feed">feeds</a>
  </p>
  <p>v{{ pkg.version }} | {{ metadata.copyright }}</p>
</footer>
