<header class="header">
  <div class="header__planet"></div>
  <div class="header__lightning"></div>
  <div class="header__content">
    <span class="header__title"><a href="/">IXION'S REALM</a></span>
  </div>
</header>
