<div class="header--container">
  <div class="header__planet--container">
    <div class="header__planet--image"></div>
  </div>
  <div class="header__lightning--container">
    <div class="header__lightning--image"></div>
  </div>
  <div class="header__content">
    <h1>
      <a href="/">IXION'S REALM</a>
    </h1>
  </div>
</div>
