<header class="header">
  <div class="header__planet"></div>
  <div class="header__lightning"></div>
  <div class="header__content">
    <h1>
      <a href="/">IXION'S REALM</a>
    </h1>
  </div>
</header>
