{% extends "layouts/basic-2col.njk" %}
{% set previousAnnouncement = collections.announcements | getPreviousCollectionItem %}
{% set nextAnnouncement = collections.announcements | getNextCollectionItem %}

{%- block content -%}
  <article class="post">
    <h1 class="post__title">
      {% if displayTitle %}{{ displayTitle }}{% else %}{{ title }}{% endif %}
    </h1>
    <div class="post__meta">
      <div class="post__date">
        {%- if draft and false %}
          <span>DRAFT</span>
        {%- else %}
          <span>Published {{ page.date | readableDate }}</span>
        {%- endif %}
      </div>
    </div>

    {% block announcementContent %}
      {{- content | safe -}}
    {% endblock %}
  </article>

  <div class="post-footer">
    <div class="post-footer__previous">
      {% if previousAnnouncement %}
        <a href="{{ previousAnnouncement.url }}"
          >{{ previousAnnouncement.data.title }}</a
        >
      {% endif %}
    </div>
    <div class="post-footer__all">
      <a href="/announcements/">Announcements</a>
    </div>
    <div class="post-footer__next">
      {% if nextAnnouncement %}
        <a href="{{ nextAnnouncement.url }}"
          >{{ nextAnnouncement.data.title }}</a
        >
      {% endif %}
    </div>
  </div>
{%- endblock %}
