{% extends "layouts/basic-2col.njk" %}

{% set previousPost = collections.posts | getPreviousCollectionItem %}
{% set nextPost = collections.posts | getNextCollectionItem %}

{%- block main -%}
  <h1 class="blog--post--title">{% if displayTitle %}{{displayTitle}}{% else %}{{title}}{% endif %}</h1>
  <div class="blog--post--meta">
    <div class="blog--post--date">
      {%- if draft and false %}
        DRAFT
      {%- else %}
        Published {{ page.date | readableDate }}
      {%- endif %}
    </div>
    <div class="blog--post--readtime readtime">{{ content | readingTime }} to read</div>
  </div>

  {{- content | safe -}}

  <div class="blog--post--bottom-nav">
    <div class="blog--post--previous">
      {% if previousPost %}<a class="previous-link" href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}
    </div>
    <div class="blog--post--next">
      {% if nextPost %}<a class="next-link" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}
    </div>
  </div>

{%- endblock %}