html[data-theme="terminal"] {
  & {
    --bg: #17262eee;
    --border: #2b3d41;
    --text: #93c4ad;
    --text-subtle: #baa0d8;
    --text-light: #716085;
    --accent: #2ac76b;
    --header-border: #4f9eff;
  }

  & .background {
    background: black;
    background-size: 48px;
  }

  & .background__overlay {
    background: linear-gradient(
      to bottom,
      rgb(132, 250, 244),
      rgb(79, 84, 92),
      rgb(153, 17, 17)
    );
    mix-blend-mode: multiply;
  }

  & .page__main-inner--immersive {
    font-family: var(--mono-font);
    font-family: "Telegrama", var(--mono-font);

    & a {
      text-decoration: none;

      &:hover {
        color: white;
      }
    }

    & details > summary {
      list-style: none;
      color: var(--accent);
      cursor: pointer;
    }

    & details > summary > a {
      color: revert;
    }

    & details > summary > a:hover {
      color: revert;
    }

    & details > summary:hover {
      color: white;
    }

    & details > summary:before {
      content: "> ";
    }

    & details[open] > summary {
      color: revert;
      cursor: revert;
    }

    & ul {
      padding-left: 0;
    }

    & li {
      list-style: none;
    }

    & li:before {
      content: "> ";
    }
  }
}

@font-face {
  font-family: "Telegrama";
  src: url(/fonts/telegrama_render.otf);
}
