---
title: Ixion's Blog
redirect_from: /posts
---

{% extends "layouts/blog-list.njk" %}

{%- block main_top -%}
  <h1>Ixion's Blog</h1>
  <p>Where I talk about web development and whatever I want ^.^</p>
{%- endblock %}
