---
title: Change Log
redirect_from: /updates
---

{% extends "layouts/basic-2col.njk" %}

{%- block main -%}
  <h1>Change Log</h1>

  {% set changelist = collections.changes %}
  {% include "components/change-list.njk" %}
{%- endblock %}
