<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" />
  <title>{{ title }}</title>
</head>

<body>
  <div class="page">
    <div class="background-overlay"></div>

    <header class="page__header">{% include '../partials/header.njk' %}</header>

    <div class="page__layout" >
      <aside class="navbar region flex-stretch" >
        <div class="navbar--title region--title" >
          Navigation
        </div>
        <div class="navbar--content region--content" >
          {% include '../partials/navigation.njk' %}
        </div>
      </aside>
      <main class="main region flex-stretch">
        <div class="main--title region--title">
          {{ title }}
        </div>
        <div class="main--content region--content">
          {{ content | safe }}
        </div>
      </main>
    </div>

    <footer class="page__footer region--content">
      {% include '../partials/footer.njk' %}
    </footer>
  </div>
</body>