<div>
  {%- if page.displayTitle -%}
    <p>{{ page.displayTitle }}</p>
  {%- endif %}
  {%- if page.description -%}
    {{ page.description | linesToParagraphs | safe }}
  {%- endif %}
  <ul>
    {%- for choice in page.choices -%}{%- if choice.goto -%}
      <a href="{{ choice.url | url }}">
        <li>{{ choice.text | safe }}</li>
      </a>
    {%- elif choice.details %}
      <details>
        <summary><a>{{ choice.text | safe }}</a></summary>
        <p>{{ choice.details }}</p>
      </details>
    {%- endif -%}{%- endfor %}
  </ul>
</div>
