---json
{
  "permalink": "feeds/feed.xml",
  "eleventyExcludeFromCollections": true
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed
  xmlns="http://www.w3.org/2005/Atom"
  xml:lang="{{ metadata.language or page.lang }}"
>
  <title>{{ metadata.site.title }}</title>
  <subtitle>{{ metadata.site.description }}</subtitle>
  <link href="{{ permalink | htmlBaseUrl(metadata.base) }}" rel="self" />
  <link href="{{ metadata.base | addPathPrefixToFullUrl }}" />
  <updated
    >{{ collections.feed | getNewestCollectionItemDate | dateToRfc3339 }}</updated
  >
  <id>{{ metadata.base | addPathPrefixToFullUrl }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for item in collections.feed | reverse %}
  {%- set absolutePostUrl %}{{ item.url | htmlBaseUrl(metadata.base) }}{% endset %}
  <entry>
    <title>{{ item.data.title }}</title>
    <link href="{{ absolutePostUrl }}" />
    {%- if item.data.tags and item.data.tags.includes("posts") %}
    <category term="blog" scheme="{{metadata.base}}/types"/>
    {%- elseif item.data.tags and item.data.tags.includes("announcements") %}
    <category term="announcements" scheme="{{metadata.base}}/types"/>
    {%- endif %}
    <published>{{ item.date | dateToRfc3339 }}</published>
    <id>{{ absolutePostUrl }}</id>
    {%- if item.data.description %}
    <summary>{{ item.data.description }}</summary>
    {%- endif %}
    <content type="html">
      {{ item.content | renderTransforms(item.data.page, metadata.base) }}
    </content>
  </entry>
  {%- endfor %}
</feed>
