@use "abstracts/mixins" as mix;

@mixin region-header {
  background-image: var(--title-bar-bg);
  min-height: 36px;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
  padding: 0 1rem;
  color: var(--title-text);
}

@mixin region-content {
  border: 2px solid var(--border);
  background: var(--bg);
  padding: 1rem;
  flex-grow: 1;
}

.page {
  position: relative;
  min-height: 100vh;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  &__inner {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0;

    display: grid;
    grid-template-areas:
      "header header"
      "nav    main"
      "footer footer";
    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 20px;

    @include mix.respond-to(tablet) {
      grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
      gap: 0;
      grid-template-columns: 1fr;
    }
  }

  &__header {
    grid-area: header;
  }

  &__nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 220px;
    align-self: stretch;
  }

  &__nav-header {
    @include region-header;

    @include mix.respond-to(mobile) {
      padding: 0;
    }
  }

  &__nav-content {
    @include region-content;
  }

  &__main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-self: stretch;
  }

  &__main-header {
    @include region-header;
    text-align: center;

    @include mix.respond-to(mobile) {
      padding: 0;
    }

    &::after {
      content: "⋆✧:°* ⛧★☆(=^ｪ^=)☆★⛧ *°:✧⋆";
    }
  }

  &__main-content {
    @include region-content;
    @include mix.respond-to(tablet) {
      min-width: 360px;
    }
  }

  &__footer {
    @include region-content;
    grid-area: footer;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
