<!DOCTYPE html>
<html lang="en" {% if theme %} data-theme="{{ theme }}" {% endif %}>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if lightbox %}
      <link rel="stylesheet" href="/css/glightbox.min.css"/>
      <script type="module">
        import "/js/glightbox.min.js";
        const lightbox = GLightbox(
          {selector: ".glightbox",{% if lightboxDesc %}descPosition : "{{ lightboxDesc }}",{% endif %}moreLength: 0, slideEffect: "none"}
        );
      </script>
    {% endif %}
    <style>
      body {
        background-color: black;
        color-scheme: dark;
      }
    </style>
    <script>{% include '../scripts/theme-picker.js' %}</script>
    <noscript>
      <style>
        #theme-picker {
          display: none;
        }
      </style>
    </noscript>
    <link rel="stylesheet" href="/css/styles.css"/>
    <title>🌌 Ixion's Realm</title>
  </head>
  <body>
    <script>
      NekoType = "jess"
    </script>
    <script src="https://webneko.net/n20171213.js"></script>
    <div class="page">
      <div class="background-overlay"></div>
      <div class="background-decor">
        <div class="page__top-left-corner"></div>
        <div class="page__top-right-corner"></div>
      </div>
      <header class="page__header">{% include '../partials/header.njk' %}</header>
      <div class="page__layout">
        <aside class="navbar region flex-stretch">
          <div class="navbar--title region--title"></div>
          <div class="navbar--content region--content">
            {% include '../partials/navigation.njk' %}
          </div>
        </aside>
        <main class="main region flex-stretch">
          <div class="main--title region--title"></div>
          <div class="main--content region--content">
            {{ content | safe }}
          </div>
        </main>
      </div>
      <footer class="page__footer region--content">
        {% include '../partials/footer.njk' %}
      </footer>
    </div>
  </body>
</html>