<!DOCTYPE html>
<html lang="{{ metadata.language }}" {% if theme %} data-theme="{{ theme }}" {% endif %}>
  <head>
    {% include '../partials/head-common.njk' %}
    {#  #}
    <link rel="stylesheet" href="/css/styles.css?v={{ pkg.version }}"/>
  </head>
  <body>
    {% include '../partials/neko.njk' %}
    <div class="page">
      <div class="background-overlay"></div>
      <div class="background-decor">
        <div class="page__top-left-corner"></div>
        <div class="page__top-right-corner"></div>
      </div>
      <header class="page__header">{% include '../partials/header.njk' %}</header>
      <div class="page__layout">
        <aside class="navbar region flex-stretch">
          <div class="navbar--title region--title"></div>
          <div class="navbar--content region--content">
            {% include '../partials/navigation.njk' %}
          </div>
        </aside>
        <main class="main region flex-stretch">
          <div class="main--title region--title"></div>
          <div class="main--content region--content">
            {{ content | safe }}
          </div>
        </main>
      </div>
      <footer class="page__footer region--content">
        {% include '../partials/footer.njk' %}
      </footer>
    </div>
  </body>
</html>