{# Basic Info #}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
  {{ '(Redirecting) ' if redirect }}{{ title | safe + ' ~ ' if title and not hideTitle }}{{ metadata.site.title }}
</title>
<meta
  name="description"
  content="{{ description | safe if description else metadata.site.description }}"
/>
<meta name="generator" content="{{ eleventy.generator }}" />

{# Redirect #}
{% if redirect %}
  <link rel="canonical" href="{{ metadata.base + redirect.to | url }}" />
  {# prettier-ignore-start #}
  <script>
    location = "{{redirect.to}}";
  </script>
  {# prettier-ignore-end #}
  <meta http-equiv="refresh" content="0; url={{ redirect.to | url }}" />
  <meta name="robots" content="noindex" />
{% else %}
  <link rel="canonical" href="{{ metadata.base + page.url | url }}" />
{% endif %}

{# Limit caching to 1 hour #}
<meta http-equiv="Cache-Control" content="max-age=3600, must-revalidate" />

{# Favicon #}
<link rel="icon" href="/favicon.ico?v={{ pkg.version }}" sizes="32x32" />
<link rel="icon" href="/icon.svg?v={{ pkg.version }}" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png?v={{ pkg.version }}" />

{# Image Galleries #}
{% if lightbox %}
  <link rel="stylesheet" href="/css/glightbox.min.css" />
  {# prettier-ignore-start #}
  <script type="module">
    import "/js/glightbox.min.js";
    const lightbox = GLightbox({
      selector: ".glightbox",
      {% if lightboxDesc %}descPosition: "{{ lightboxDesc }}",{% endif %}
      moreLength: 0,
      slideEffect: "none"
    });
  </script>
  {# prettier-ignore-end #}
{% endif %}

{# Prevent white flash on page load #}
<style>
  body {
    background-color: black;
    color-scheme: dark;
  }
</style>

{# Theme picker #}
{# prettier-ignore-start #}
<script>{% include '../scripts/theme-picker.js' %}</script>
{# prettier-ignore-end #}
<noscript>
  <style>
    #theme-select {
      display: none;
    }
  </style>
</noscript>

{# Style sheet #}
<link rel="stylesheet" href="/css/styles.css?v={{ pkg.version }}" />
