<!DOCTYPE html>
<html
  lang="{{ metadata.language }}"
  {% if theme %}
    data-theme="{{ theme }}"
  {% endif %}
>
  <head>
    {%- include '../core/_head.njk' %}
  </head>
  <body>
    {%- block page %}{%- endblock %}
    {%- if not immersive -%}
      {%- include '../components/neko.njk' %}
    {%- endif %}
    {%- include '../components/goatcounter.njk' %}
  </body>
</html>
