@use "mixins" as mix;

ul.post-list {
  list-style: none;
  padding-left: 0;
  border: solid var(--item-border);
  border-width: 1px;
  margin: 0;

  & > hr {
    margin: 0;
  }
}

.post-item {
  border: solid var(--item-border);
  border-width: 1px;
  background-color: var(--item-bg);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;

  @include mix.respond-to(mobile) {
    padding: 0.4rem 1rem;
  }

  &__title {
    flex-basis: 70%;
    margin: 0;

    @include mix.respond-to(mobile) {
      flex-basis: 100%;
      font-size: 1em;
      line-height: 1.7em;
      margin-top: 0.2rem;
    }

    & > a {
      font-size: 1.4em;
      font-weight: bold;
    }
  }

  &__description {
    flex-basis: 70%;
    font-size: 1.1em;
    color: var(--text-subtle);

    @include mix.respond-to(mobile) {
      order: 4;
      flex-basis: 100%;
      font-size: 1em;
      padding-bottom: 0.4rem;
    }
  }

  &__date {
    font-size: 1.1em;
    flex-basis: 30%;
    text-align: right;
    color: var(--text-light);

    @include mix.respond-to(mobile) {
      order: 2;
      flex-basis: 50%;
      font-size: 1em;
      text-align: left;
    }
  }

  &__read-time {
    font-size: 1em;
    flex-basis: 30%;
    text-align: right;
    color: var(--text-light);

    @include mix.respond-to(mobile) {
      order: 3;
      flex-basis: 50%;
      font-size: 1em;
    }

    &::before {
      @include mix.icon("/images/phosphor-icons/clock.svg");
      margin-right: 0.2em;
      transform: translateY(0.18em);
    }
  }
}
