@use "mixins" as mix;

ul.changelog--list {
  list-style: none;
  padding-left: 0;
  border: solid var(--item-border);
  border-width: 1px;
  margin: 0;
}

ul.changelog--list > li {
  padding-inline-start: 0;
  padding: 0 1rem;
}

ul.changelog--list > li ul {
  list-style: initial;
  padding-left: 2rem;
}

ul.changelog--list > hr {
  margin: 0;
}

.changelog--item {
  border: solid var(--item-border);
  border-width: 1px;
  background-color: var(--item-bg);
}

.changelog--item--container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;

  @include mix.respond-to(mobile) {
    padding: 0.4rem 0;
  }
}

.changelog--item--title {
  flex-basis: 70%;
  margin: 0;
  font-size: 1.4em;
  font-weight: bold;

  @include mix.respond-to(mobile) {
    flex-basis: 100%;
    font-size: 1.4em;
    line-height: 1.7em;
    margin-top: 0.2rem;
  }
}

.changelog--item--date {
  font-size: 1.1em;
  flex-basis: 30%;
  text-align: right;
  color: var(--text-light);

  @include mix.respond-to(mobile) {
    flex-basis: 100%;
    font-size: 1em;
    text-align: left;
  }
}

.changelog--item--content {
  color: var(--text-subtle);
}

.changelog--item--content p {
  margin: 0.5em 0;
}
