.page__footer {
  color: var(--text-light);
  font-size: 0.9rem;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.page__footer p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
