@use "mixins" as mix;

.page {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0;
  font-size: 1.15rem;
  line-height: 1.5;
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include mix.respond-to(tablet) {
    gap: 0;
  }
}

.page__header {
  align-self: stretch;
}

.page__layout {
  display: flex;
  gap: 20px;

  @include mix.respond-to(tablet) {
    flex-direction: column;
    gap: 0;
  }
}
