@use "mixins" as mix;
@use "region" as *;

.main {
  @extend %region;
  flex-grow: 1;
  align-self: stretch;
}

.main--title {
  @extend %region--title;
  text-align: center;
}

.main--title::after {
  content: "⋆✧:°* ⛧★☆(=^ｪ^=)☆★⛧ *°:✧⋆";
}

.main--content {
  @extend %region--content;
  @include mix.respond-to(tablet) {
    min-width: 360px;
  }
}
