@use "mixins" as mix;

%region {
  display: flex;
  flex-direction: column;
}

%region--title {
  background-image: var(--title-bar-bg);
  min-height: 36px;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
  padding: 0 1rem;
  color: var(--title-text);

  @include mix.respond-to(mobile) {
    padding: 0;
  }
}

%region--content {
  border: 2px solid var(--border);
  background: var(--bg);
  padding: 1rem;
  flex-grow: 1;
}
