<ul>
<li>🎑<a href="/">home</a></li>
<li>🌠<a href="/interests/">interests</a></li>
<li>🎨<a href="/childhood-art/">creations</a></li>
<li>🧶<a href="/toybox/">toybox</a></li>
<li>🔗<a href="/links/">links</a></li>
<li>🦄<a href="/about/">about</a></li>
</ul>