<ul>
<li>🪐<a href="/">Home</a></li>
<li>🌠<a href="/interests/">Interests</a></li>
<li>🎨<a href="/childhood-art/">Creations</a></li>
<li>🎁<a href="/toybox/">Toybox</a></li>
<li>🔗<a href="/links/">Links</a></li>
<li>🦄<a href="/about/">About</a></li>
</ul>